.anim {
	&_title {
		opacity: 0;
		transform: translateY(6rem) rotate(2deg);
	}
	&_panel {
		opacity: 0;
		&-bottom {
			transform-origin: bottom;
			transform: scaleY(0);
		}
		&-left {
			transform-origin: left;
			transform: scaleX(0);
		}
	}
	&_cloud {
		opacity: 0;
		transform: translateY(-12rem) scale(1.2);
	}
	&_people {
		opacity: 0;
		transform: translateY(6rem) scale(1.2);
	}
	&_scale,
	&_scale2 {
		opacity: 0;
		transform: scale(1.2);
	}
	&_opacity,
	&_opacity2 {
		opacity: 0;
	}
	&_overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #4ca4e8;
		border-radius: 20px;
		transform-origin: top;
		margin-top: unset !important;
	}
	&_zoom {
		transform: scale(1.4);
	}
}
