.list_blog {
    .blog_item {
        display: block;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: s(1);
        row-gap: s(2);
        padding: s(2) 5vw;
        @media all and (min-width: $from-medium) {
            padding: unset;
            grid-template-columns: repeat(2, 1fr);
            column-gap: s(2);
            row-gap: s(3);
        }
        @media all and (min-width: $from-big) {
            grid-template-columns: repeat(3, 1fr);
        }
        .actu_content{
            img{
                width: 100%;
                height: auto;
            }
            >div{
                background-color: white;
                padding: s(1.5);
                @media all and (min-width: $from-medium) {
                    padding: s(3); 
                }
                h3{
                    font-weight: 600;
                    max-width: 100%;
                    font-size: f(1);
                    color: #444A5E;
                    @media all and (min-width: $from-medium) {
                        max-width: s(19);
                        font-size: f(1.4);
                    }
                }
                span{
                    font-size: f(.9);
                    color: #C8C8C8;
                    font-weight: 500;
                }
            }
        }
    }

	&__pagination {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: s(4);
		padding-top: s(4);
		border-top: 1px solid var(--color-gray);

		.screen-reader-text {
			display: none;
		}

		a {
			padding: s(1) s(2);
			background: var(--color-dark);
			color: var(--color-white);
		}
	}
}

.actualite{
    .subtitle{
        text-align: center;
    }
	h2 {
        margin: s(3) auto s(8);
		text-align: center;
        font-weight: 400;
        max-width: s(41);
        color: #273841;
    }
    .col-3{
        grid-gap: s(1);
        .actu_content{
            overflow: hidden;
            max-height: s(31);
            &:not(:last-of-type){
                margin-bottom: s(2);
                @media all and (min-width: $from-medium) {
                    margin-bottom: 0;
                }
            }
            &:hover{
                .card_text{
                    height: auto;
                    display: inline-block;
                    p{
                        opacity: 1;
                    }
                }
                img{
                    top: 0;
                    transform: translateY(-80px);
                }
                >div{
                    top: 0;
                    transform: translateY(-85px);
                }
            }
            img{
                width: 100%;
                height: auto;
                max-height: s(15);
                object-fit: cover;
                transform: translateY(0);
                transition: transform 0.2s ease-in-out;
                @media all and (min-width: $from-medium) {
                    max-height: 100%;
                }
            }
            >div{
                background-color: white;
                padding: s(3) s(3) s(2) s(3);
                overflow: hidden;
                position: relative;
                transform: translateY(0);
                transition: transform 0.2s ease-in-out;
                h3{
                    font-weight: 600;
                    max-width: s(19);
                    font-size: f(1.4);
                }
                span{
                    font-size: f(.9);
                    color: #C8C8C8;
                    font-weight: 500;
                }
                .card_text{
                    display: flex;
                    padding-top: s(1);
                    flex-direction: column;
                    transform: translateY(0);
                    transition: transform 0.2s ease-in-out;
                    p{
                        max-height: 0;
                        color: var(--color-gray);
                        opacity: 0;
                        transition : opacity .3s ease, max-height .2s;
                    }
                }
            }
        }
    }
}