.cols3-title {
    .cols {
        > div {
            &:not(:last-of-type) {
                margin-bottom: s(4);
            }
        }
    }
}

@media all and (min-width: $from-medium) {
    .cols3-title {
        .cols {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: s(4);
            > div {
                &:not(:last-of-type) {
                    margin-bottom: 0;
                }
            }
        }
    }
}