.cols4-title {
    background: var(--color-primary);
    .cols {
        > div {
            &:not(:last-of-type) {
                margin-bottom: s(1);
            }
        }
        p {
            &:first-of-type {
                margin-bottom: s(0.5);
            }
            &:last-of-type {
                font-size: f(2);
            }
        }
        h3 {
            margin: 0;
        }
    }
}

@media all and (min-width: $from-medium) {
    .cols4-title {
        .cols {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: s(1);
            > div {
                &:not(:last-of-type) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media all and (min-width: $from-large) {
    .cols4-title {
        .cols {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}