.footer {
    &_logo {
        width: 14rem;
        img {
            width: 100%;
        }
    }
    &_menu {
        margin: s(4) 0;
        li {
            font-size: f(1.8);
            &:not(:last-of-type) {
                margin-bottom: s(0.5);
            }
        }
    }
    &_social {
        display: flex;
        align-items: center;
        li {
            &:not(:last-of-type) {
                margin-right: s(2);
            }
            a {
            height: 1.4rem;
                img {
                    height: 100%;
                }
            }
        }
    }
}

@media all and (min-width: $from-medium) {
    .footer {
        &_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_logo {
            width: 25%;
            img {
                max-width: 14rem;
            }
        }
        &_menu {
            width: 50%;
            margin: 0 s(3);
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    font-size: f(1.1);
                    &:not(:last-of-type) {
                        margin: 0 s(4) 0 0;
                    }
                }
            }
        }
        &_social {
            width: 25%;
            justify-content: flex-end;
        }
    }
}