.footer {
    &_container{
        margin-bottom: s(8);
        .col-4{
            width: 100%;
            >div{
                &:not(:first-of-type) {
                    margin: s(2) 0 0 0;
                    @media all and (min-width: $from-medium) {
                        margin: 0;
                    }
                }
                .footer_logo {
                    width: s(8);
                    img {
                        width: 100%;
                    }
                }
                p{
                    opacity: .3;
                    color: var(--color-dark);
                    font-size: f(1.1);
                    margin-bottom: s(2);
                    font-weight: normal;
                }
                ul{
                    li {
                        font-weight: normal;
                        font-size: f(.85);
                        color: var(--color-dark);
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        &:not(:last-of-type) {
                            margin-bottom: s(1);
                        }
                    }
                }
            }

        }
    }
    .footer_bottom{
        p{
            display: flex;
            opacity: .3;
            color: var(--color-dark);
            font-size: f(.9);
            a{
                margin: auto s(.5);
                font-size: f(.9);
            }
        }
    }
}

@media all and (min-width: $from-medium) {
    .footer {
        &_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .footer_logo {
            img {
                max-width:s(8);
            }
        }
        .footer_menu {
            width: 50%;
            margin: 0 s(3);
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    &:not(:last-of-type) {
                        margin: 0 s(4) 0 0;
                    }
                }
            }
        }
    }
}