.hero {
    width: 100vw;
    background: var(--color-primary);
    padding: s(6) 0;
    h1 {
        margin: s(0.5) 0 s(1);
    }
}

@media all and (min-width: $from-medium) {
    .hero {
        padding: 0;
        min-height: 40rem;
        text-align: center;
        &_container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            margin: s(-1) 0 s(3);
        }
        p {
            &:last-of-type {
                max-width: 24rem;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}