.layering {
    .cols {
        > div {
            &:first-of-type {
                margin-bottom: s(2);
            }
        }
    }
    img {
        width: 100%;
    }
    p {
        &:not(:last-of-type) {
            margin-bottom: s(1);
        }
    }
    .btn {
        margin-top: s(2);
    }
}

@media all and (min-width: $from-medium) {
    .layering {
        .cols {
            display: grid;
            grid-template-columns: repeat(9, [col] 1fr);
            align-items: center;
            > div {
                &:first-of-type {
                    grid-column: col / span 5;
                    grid-row: row;
                    margin-bottom: 0;
                }
                &:last-of-type {
                    grid-column: col 5 / span 9;
                    grid-row: row;
                    height: fit-content;
                }
            }
        }
        &-reverse {
            .cols {
                > div {
                    &:first-of-type {
                        grid-column: col 5 / span 9;
                    }
                    &:last-of-type {
                        grid-column: col / span 5;
                    }
                }
            }
        }
    }
}