.listeicon {
    .subtitle{
        text-align: center;
    }
	h2 {
        margin: 3rem 0 5rem;
		text-align: center;
        font-weight: 400;
    }
	.grid {
		display: grid;
		gap: 2rem;
		align-items: baseline;
		@media all and (min-width: $from-medium) {
			grid-template-columns: repeat(3, 1fr);
		}
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-width: 19rem;
			margin: 0 auto;
			img {
				width: auto;
				height: 5rem;
			}
			p {
				text-align: center;
				&:first-of-type {
					font-size: 1.1rem;
					font-weight: 500;
				}
			}
			h3 {
                margin: 2rem 0 2rem;
                color: #444A5E;
                font-size: f(1.2);
                font-weight: 600;
			}
		}
    }
    .information{
        margin: 4rem auto 0;
        display: flex;
        justify-content: center;
        p{
            font-size: f(.9);
            opacity: .6;
            color: var(--color-dark);
        }
    }
	&_white {
		padding: s(6) 0;
		@media all and (min-width: $from-small) {
            padding: unset;
		}
		.grid div p:last-of-type {
            font-size: .85rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: var(--color-dark);
            opacity: .6;
		}
	}
}
