.nav {
    padding: s(1) 0 0;
    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_logo {
        width: s(10);
        position: relative;
        z-index: 1;
        img {
            width: 100%;
        }
	}

	.logo_mobile{
		display: block;
	}
	
	&_contact{
		display: none;
	}

    &_icon {
        width: s(3);
        height: s(3);
        background: var(--color-yellow);
        padding: s(0.75) s(0.75);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
        cursor: pointer;
        position: relative;
		z-index: 2;
		border-radius:50%;
		span {
			width: 100%;
            height: 2px;
            background: var(--color-white);
            transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
    }
    &_menu {
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: var(--color-white);
        border-bottom: 1px solid var(--color-dark);
		position: absolute;
		top: 0;
		left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        ul {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            .logo{
                display: none;
            }
            li {
				color: #302a2a;
				font-size: f(.85);
				font-weight: 500;
                padding-bottom: s(.25);
                transform: none;
				@media all and (min-width: $from_medium) {
					color: #fff;
				}
				&:last-of-type:after {
					display: none;
				}
				&:hover {
					.sub-menu {
						display: block;
					}
				}
				.sub-menu {
                    margin: s(1.5);
                    display: block;
					.sub_nav{
						font-weight: bold;
						.sub-menu{
							top: 0;
							position: relative;
							font-weight: normal;
						}
					}
					li{
                        padding-bottom: s(.25);
                        margin: 0;
					}
					li::before {
						display: none;
					}
				}
            }
        }
    }
}

body.active {
    overflow: hidden;
    nav {
        .nav_menu {
            opacity: 1;
            visibility: visible;
        }
        .nav_icon {
            span {
                &:first-of-type {
                    transform: rotate(-45deg) translateY(2.5px) translateX(-2.5px);
                }
                &:last-of-type {
                    transform: rotate(45deg) translateY(-2.5px) translateX(-2.5px);
                }
            }
        }
    }
}

@media all and (min-width: $from-medium) {
    .nav {
        &_icon {
            display: none;
		}
		&_contact{
			display: block;
		}
		.logo_mobile{
			display: none;
		}
        &_menu {
			width: auto;
			overflow-y: unset;
			height: auto;
			max-height: none;
			background: none;
			border: none;
			position: relative;
			opacity: 1;
			visibility: visible;
			display: flex;
			align-items: center;
			> ul > li {
				padding: s(1) 0 !important;
			}
			ul {
				width: 100%;
				align-items: center;
				display: flex;
				justify-content: space-between;
				gap: s(2);
				flex-direction:inherit;
                .logo{
					display: grid;
					min-width: 7.5rem;
					justify-content: center;
                    &::before{
                        content: none;
                    }
                }
				li {
                    font-weight: 300;
                    color:#9FA6A9;
                    transition: all 0.3s ease-out;
                    position: relative;
					&::before {
						content: "";
						width: 40px;
						height: 2px;
						position: absolute;
						bottom: 0;
						left: 50%;
						background: #D1D1D1;
						transform: translateX(-50%);
						transition: all 0.3s ease-out;
						opacity: 0;
                    }
					&:after {
						display: none;
					}
					&.current_page_item {
						font-weight: 500;
						&::before {
							opacity: 1;
						}
					}
					&:hover {
						&::before {
							opacity: 1;
						}
					}
					.sub-menu {
						position: inherit;
						z-index: 1;
						border-left: 0;
						height: auto;
                        margin-top: s(1);
                        margin-left: 0;
                        margin-bottom: 0;
                        margin-right: 0;
						padding: s(1);
						display: grid;
                        gap: s(1.5);
                        transform: translateX(-25%);
						text-align: center;
						width: max-content;
						display: none;
						position: absolute;
						z-index: 1;
						a {
							transition: all 0.2s ease-in-out;
							&[href*="#"] {
								cursor: text !important;
							}
							&:not([href*="#"]):hover {
								text-decoration: underline;
							}
						}
						li::before {
							display: none;
						}
					}
				}
			}
        }
    }
}