.place {
    h2 {
        margin-bottom: s(1);
    }
    p {
        font-size: f(1.6);
        &:not(:last-of-type) {
            margin-bottom: s(0.5);
        }
    }
    span {
        width: 100%;
        height: 1px;
        background: var(--color-gray);
        margin-top: s(4);
    }
}

@media all and (min-width: $from-medium) {
    .place {
        h2 {
            font-size: f(3.6);
            max-width: none;
        }
    }
}