.process {
    &.bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    p {
        &:not(:last-of-type) {
            margin-bottom: s(1);
        }
    }
}

@media all and (min-width: $from-medium) {
    .process {
        .bloc {
            width: 50%;
            margin-left: auto;
        }
    }
}
