$size-default: 16px;
$size-tiny: 2.6vw;
$size-small: 1.5vw;
$size-medium: 1.25vw;
$size-large: 1.1vw;
$size-big: 1.1vw;
$size-huge: 1vw;
$size-enormous: 17px;
$size-gigantic: 19px;
$size-colossal: 20px;
