* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

span {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}