.btn {
    width: 100%;
    font-size: f(1);
    padding: s(1.8) ;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    
    &-primary {
        background: var(--color-blue);
        color: var(--color-white);
    }
    &-secondary {
        background: var(--color-white);
        color: var(--color-blue);
        border: 3px solid var(--color-blue);
    }

    svg{
        margin-left: s(2);
    }
}

@media all and (min-width: $from-medium) {
    .btn {
        width: s(18);
    }
}

.content_buttons{
    display: flex;
    margin-top: s(2);
    .btn{
        &:first-child{
            margin-right: s(1);
        }
        padding:s(1);
        @media all and (min-width: $from-medium) {
            width: s(14);
        }
        svg{
            margin-right: s(1.5);
            margin-left: 0;
        }
    }
}

.btn_product{
    bottom: s(1);
    font-weight: 300;
    left: s(1);
    position: absolute;
    background-color: white;
    color: var(--color-dark);
    padding: s(1);
    border-radius: 18px;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    .icon_arrow{
        border-radius: 50%;
        background-color: var(--color-blue);
        height: s(1.5);
        width: s(1.5);
        margin-left: s(1);
        justify-content: center;
        display: flex;
        align-items: center;
        svg{
            width: s(.85);
        }
    }
}

.btn_contact{
    background-color: var(--color-yellow) ;
    padding: s(1);
    border-radius: 5px;
    color: white;
    font-size: f(.85);
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    font-weight: 500;
    @media all and (min-width: $from-large) {
        padding: s(1) s(2);
        min-width: s(10);
    }
}

.more{
    color: var(--color-blue);
    text-align: center;
    border-bottom: 1px solid var(--color-blue);
    display: inline-block;
    padding-bottom: s(.5);
    width: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: s(6) auto 0;
    font-weight: 600;
}

.search_top{
    @media all and (min-width: $from-large) {
        min-width: s(10);
    }
}

.nav_two{
    .search_top{
        @media all and (min-width: $from-large) {
            min-width: s(7);
        }
    }
}
