html {
    font-size: $size-default;
}

body {
    background: var(--color-background);
    font-family: $f-regular;
}

.container {
    width: $container;
    margin-right: auto;
    margin-left: auto;
}