html {
    font-size: $size-default;
    @media (max-width: $to-tiny) {
		font-size: $size-default;
	}
	@media (min-width: $from-tiny) and (max-width: $to-small) {
		font-size: $size-tiny;
	}
	@media (min-width: $from-small) and (max-width: $to-medium) {
		font-size: $size-small;
	}
	@media (min-width: $from-medium) and (max-width: $to-large) {
		font-size: $size-medium;
	}
	@media (min-width: $from-large) and (max-width: $to-big) {
		font-size: $size-large;
	}
	@media (min-width: $from-big) and (max-width: $to-huge) {
		font-size: $size-big;
	}
	@media (min-width: $from-huge) and (max-width: $to-enormous) {
		font-size: $size-huge;
	}
	@media (min-width: $from-enormous) and (max-width: $to-gigantic) {
		font-size: $size-enormous;
	}
	@media (min-width: $from-gigantic) and (max-width: $to-colossal) {
		font-size: $size-gigantic;
	}
	@media (min-width: $from-colossal) {
		font-size: $size-colossal;
	}
}

body {
	color: var(--color-dark);
	background-color: #FBFBFD;
	overflow-x: hidden;
	font-family: 'Inter', sans-serif;
}

.container {
	width: $container;
    margin-right: auto;
	margin-left: auto;
}

.container-content {
	width: 70vw;
    margin-right: auto;
	margin-left: auto;
}

section {
	margin-top: s(4);
	margin-bottom: s(4);
	&.bg {
		padding-top: s(4);
		padding-bottom: s(4);
	}
}

footer {
	&.bg {
		background: #FBFBFD;
		padding-top: s(6);
		padding-bottom: s(6);
	}
}

@media all and (min-width: $from-small) {
	section {
		margin-top: s(8);
		margin-bottom: s(8);
		&.bg {
			padding-top: s(8);
			padding-bottom: s(8);
			margin-left:-5vw;
			width: 100vw;
		}
	}
}

.page-template-page-contact,
.page-template-page-legal,
.blog
{
	.breadcrumb{
		display: none;
	}
}

.page-template-page-legal, 
.layout-text{
	h2{
		font-weight: 400;
		margin-bottom: s(4);
	}
	h3{
		font-size: f(1.8);
		font-weight: 300;
		margin-top: s(2);
	}
	p{
		color: #575C69;
	}
}

.page-id-144, 
.page-id-150{
	.hero-classic{
		&::before{
			display: none;
		}
	}
}

.page-id-42,
.page-id-44,
.page-id-46,
.page-id-61{
	.hero-besoin{
		&::after{
			top: s(15);
		}
	}
}