.footer {
    padding: rem(4) 0;
    background: $color-primary;
    &_logo {
        width: rem(12);
        img {
            width: 100%;
        }
    }
    &_menu {
        margin: rem(4) 0;
        li {
            font-size: rem(1.8);
            &:not(:last-of-type) {
                margin-bottom: rem(0.5);
            }
        }
    }
    &_social {
        display: flex;
        align-items: center;
        li {
            &:not(:last-of-type) {
                margin-right: rem(2);
            }
            a {
                height: 1.4rem;
                svg {
                    height: 100%;
                }
            }
        }
    }
}

@media all and (min-width: $from-medium) {
    .footer {
        &_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_logo {
            width: 25%;
            img {
                max-width: rem(12);
            }
        }
        &_menu {
            width: 50%;
            margin: 0 rem(3);
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    font-size: rem(1.1);
                    &:not(:last-of-type) {
                        margin: 0 rem(4) 0 0;
                    }
                }
            }
        }
        &_social {
            width: 25%;
            justify-content: flex-end;
        }
    }
}
