:root {
    --color-background: #f5f5f5;
    --color-primary: #e2ebef;
    --color-dark: #243640;
    --color-white: #fff;
    --color-gray: #d4d4d4;
    --color-yellow: #F1A016;
    --color-blue:#4CA4E8;
    --color-dark-blue:#444A5E;
    --color-text:#575C69;
}