@font-face {
    font-family: 'sf-pro-display-regular';
    src: url('http://localhost:8888/neptune/wp-content/themes/neptune/src/fonts/sf-pro-display-regular.otf') format('opentype'),;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf-pro-display-light';
    src: url('http://localhost:8888/neptune/wp-content/themes/neptune/src/fonts/sf-pro-display-light.otf') format('opentype'),;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

$f-light: 'sf-pro-display-light', sans-serif;
$f-regular: 'sf-pro-display-regular', sans-serif;