.contact {
    form {
        display: grid;
        gap: rem(2);
        @media (min-width: $from-medium) {
            grid-template-columns: repeat(2, 1fr);
            gap: rem(3);
            .full,
            .wpcf7-submit,
            .wpcf7-response-output {
                grid-column: 1 / 3;
            }
            .wpcf7-response-output {
                margin: unset;
            }
        }
    }
}
