.section22 {
    .grid {
        @include grid(rem(2));
    }
    h2 {
        text-align: center;
        @media (min-width: $from-small) {
            margin-bottom: rem(2);
        }
    }
    .grid-2 {
        @include grid(rem(1));
        @media (min-width: $from-small) {
            grid-template-columns: repeat(2, 1fr);
        }
        > div {
            @include grid(rem(1));
            background: $color-primary;
            padding: rem(1.5);
        }
    }
    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    .btn {
        @media (min-width: $from-medium) {
            width: fit-content;
            margin-top: rem(1);
        }
    }
}
