.section1 {
    &.center {
        p,
        h2 {
            text-align: center;
            margin: 0 auto;
        }
        .buttons {
            @media (min-width: $from-medium) {
                margin: rem(1) auto 0;
            }
        }
    }
    .grid {
        @include grid(rem(1));
    }
    .buttons {
        @include flexCenterStart(rem(1));
        margin-top: rem(1);
        @media (min-width: $from-medium) {
            width: fit-content;
        }
    }
}
