.services {
    .grid {
        @include grid(rem(1));
    }
    .grid-3 {
        @include grid(rem(2));
        margin-top: rem(1);
        @media (min-width: $from-medium) {
            grid-template-columns: repeat(3, 1fr);
            gap: rem(3);
            margin-top: rem(3);
        }
        div {
            @include grid(rem(1));
        }
    }
}
